<a href="https://colab.research.google.com/github/vincent-arese/OC-P6/blob/main/P6_V0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color="00CED1">  Config Env de travail </font>   <a id="EnvTravail"></a>

### pip install

In [ ]:
# Prepa Env PIP
# librairie pour combiner Pyhton & SQL https://towardsdatascience.com/fugue-and-duckdb-fast-sql-code-in-python-e2e2dfc0f8eb
#!pip install -U fugue[duckdb,sql] 
# !pip install pandas-bokeh

#  TO DEL    !pip install -U dash 

# !python --version  # checks version from command line
# !sudo apt-get update -y
# !sudo apt-get upgrade -y

# ! pip list -v
# ! pip list -v | grep [Pp]an 
# ! pip list -v | grep [Pp]lot
# ! pip list -v | grep [Ss]ea
# ! pip list -v | grep [Bb]l
# ! pip list -v | grep [Aa]ut
# ! pip install --upgrade pandas

# !sudo update-alternatives --config python3
# #after running, enter the row number of the python version you want.
# !python --version  # checks version from command line

Python 3.7.13
There are 2 choices for the alternative python3 (providing /usr/bin/python3).

  Selection    Path                Priority   Status
------------------------------------------------------------
* 0            /usr/bin/python3.7   2         auto mode
  1            /usr/bin/python3.6   1         manual mode
  2            /usr/bin/python3.7   2         manual mode

Press <enter> to keep the current choice[*], or type selection number: 3.10
There are 2 choices for the alternative python3 (providing /usr/bin/python3).

  Selection    Path                Priority   Status
------------------------------------------------------------
* 0            /usr/bin/python3.7   2         auto mode
  1            /usr/bin/python3.6   1         manual mode
  2            /usr/bin/python3.7   2         manual mode

Press <enter> to keep the current choice[*], or type selection number: ^C
Python 3.7.13

### Librairies

In [ ]:
# librairies Pythons 
import numpy as np
import pandas as pd
from pandas.core.groupby.generic import DataFrameGroupBy
pd.set_option('display.max_columns',None)  #pd.set_option('max_columns', 10) limiter le nbr de colonnes visualisé à 10 /none (=> scrollbar)
pd.set_option('display.max_rows', 40)
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
# import pandas_bokeh
#import fugue_duckdb
#from fugue_notebook import setup ;setup()

#_____________________________________________________________________________
# Python print Color
class pcolors:
    OK = '\033[92m' #GREEN
    WARNING = '\033[93m' #YELLOW
    FAIL = '\033[91m' #RED
    RESET = '\033[0m' #RESET COLOR

#Source : https://www.delftstack.com/fr/howto/python/python-print-colored-text/

#Exemple 
print(pcolors.OK + "File Saved Successfully!" + pcolors.RESET)
print(pcolors.WARNING + "Warning: Are you sure you want to continue?" + pcolors.RESET)
print(pcolors.FAIL + "Unable to delete record." + pcolors.RESET)

print(f"{pcolors.OK}File Saved Successfully!{pcolors.RESET}")
print(f"{pcolors.WARNING}Warning: Are you sure you want to continue?{pcolors.RESET}")
print(f"{pcolors.FAIL}Unable to delete record.{pcolors.RESET}")
#-----------------------------------------------------


#  Importer les données en Pandas dataframe
#aideDataPATH='/content/drive/MyDrive/DataSc/P4VA/'
DataPATH='https://raw.githubusercontent.com/vincent-arese/OC-P04VA/main/FAOdata/'

File Saved Successfully!
Warning: Are you sure you want to continue?
Unable to delete record.
File Saved Successfully!
Warning: Are you sure you want to continue?
Unable to delete record.

## Fonctions Perso

#### <font color="red"> Cellules de bloc-notes template </font>


* https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

* https://colab.research.google.com/drive/1-mfcGT9FvROM6pOL2_uNtx4ywrf6IlBn#scrollTo=icxtjOVUqN7F

* https://html-color-codes.info/Codes-couleur-HTML/

* https://docs.bokeh.org/en/latest/docs/gallery.html

In [ ]:
#########################################################################
# DEBUG & Search !      Version 1.1                                     #
#########################################################################
# dt=BilanAlim
col=['index']

# dt.info()
# dt.describe(include='all')
# dt.describe(include='category')

#~~Search NaN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# SearchNaN(dt,1)
# dt.isnull().sum().sum()  # Is nul total df 
# SearchNaN(dt,2)
# SearchNaN(dt,2).CodeZone.sort_values(na_position='first').unique()
# len(SearchNaN(dt,2).CodeZone.sort_values(na_position='first').unique())
# SearchNaN(dt,2).Zone.sort_values(na_position='first').unique()
# SearchNaN(dt,2).Année.sort_values(na_position='first').unique()

# dt.replace([np.inf, -np.inf], np.nan, inplace=True) # Remplacer les infini par des NaN (division ! )

#~~Search values ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# SearchListe(dt,[0])
# SearchListe(dt,[0,np.nan,np.inf,-np.inf])
# SearchListe(dt,[ 1, 249, 250, 273, 276, 351])
# SearchListe(dt,[0]).CodeZone
# dt.CodeZone.sort_values(ascending=True,na_position='first').unique()
# dt.iloc[:,12].sort_values(ascending=True,na_position='first').unique()
#  dt.iloc[:,2].unique()
# dt.iloc[:,3:19]
# dt.AlphaISO3.sort_values(ascending=True,na_position='first').unique()
# len(dt.AlphaISO3.sort_values(ascending=True,na_position='first'))



#__Liste valeur unique dans chaque colonne du df  _____________
# for col in ListeCol: 
#   # print(col,':',len(dt[col].unique()),': \n',dt[col].sort_values(ascending=True,na_position='first').unique(),'\n______________\n')
#   print(col,':',len(dt[col].unique()),': \n',dt[col].unique(),'\n______________\n') #Unsorted
#-----------

#~~ Différences liste ou df ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# LostElement(A_array,B_array)
# get_different_rows(source_df, new_df)
# ListeColUnique(dt)


#~~ Différences liste ou df ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# df=dt
# regex="^[Tt]h.*"
# df[df.Zone.str.contains(regex)]
#-----------


#~~ Dtype ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# 0.  # dtype Category => object (str)
# reduce_mem_usage(dt) # Optisation dtype
#__iloc dtype change ____________________
# for i in range(2,5):
#   dt.iloc[:,i]=dt.iloc[:,i].astype(float)
#-----------

#------ test Erreur dtype trop Petit: 

# print('Min',dt[col].min(),'Moy',dt[col].mean(),'Max',dt[col].max(),'Sum',dt[col].sum())  


# dt.info()

##### Df List
# SecuAlimGeo

##################### Aide memoire ##################
# [i for i in range(2,12)]

# dt.iloc[:, [2,3,12,14,15]]
# dt.iloc[:,[i for i in range(18)]],2)

# ColMove(df,ColName,ColIndex)
# df= df.iloc[:,[0,1,2,3,7,12,16]]
# o
####################################################


# print(BilanAlimGeo.Semences.max(),BilanAlimGeo.Semences.mean(), BilanAlimGeo.Semences.min(),BilanAlimGeo.Semences.sum(),BilanAlimGeo.Semences.count())
# !cat /proc/meminfo # Voir RAM

In [ ]:
#########################################################################
# DEBUG & Compare Sum      Version 1.01                                 #
#########################################################################

df = pd.DataFrame({'num': [1, 2, 3], 'colors': ['red', 'white', 'blue']})
#_____________________________________________________________
# Parametre Compare Somme
dfREF=df
RechercheTest="num>0"
listeCol=dfREF.columns   # listeCol=dfREF.columns # pour filter toutes les colonnes de dfREF

df1=dfREF
df1TEXTE='Version1'

df2=dfREF
df2TEXTE='Version2'
# Itere  listeCol pour chaque df(n) et teste somme df(n) = somme dfREF 
#-------------------------------------------

for Col in listeCol:
  Col_type = dfREF[Col].dtype
  if Col_type != object and Col_type != "category":  #  Si le dtype != object & category => de type Nombre ! 
    if Col in df1.columns:   
      Test1=df1.query(RechercheTest)[Col].sum()
    if Col in df2.columns:
        Test2=df2.query(RechercheTest)[Col].sum()

    Ref=dfREF.query(RechercheTest)[Col].sum()
    if Test1!=Ref or Test2!=Ref:
       print(dfREF.columns.get_loc(Col),'~',Col,'~dtype(',Col_type,')   ', df1TEXTE,':',Test1==Ref,' - ',df2TEXTE,':',Test2==Ref)
    else:
      print(dfREF.columns.get_loc(Col),'~',Col,pcolors.OK +'~dtype(',Col_type,')  : Somme  Ok'+ pcolors.RESET)  # La somme  colonne est identique 
  else:
    Test1un=0
    Test2un=0
    if Col in df1.columns:   
      Test1un=df1.query(RechercheTest)[Col].unique().sum()
    if Col in df2.columns:
      Test2un=df2.query(RechercheTest)[Col].unique().sum()

    Refun=dfREF.query(RechercheTest)[Col].unique().sum()
    if Test1un !=Refun or Test2un !=Refun:
      print(dfREF.columns.get_loc(Col),'~',Col,'~dtype(',Col_type,')   ', df1TEXTE,':',Test1un==Refun,' - ',df2TEXTE,':',Test2un==Refun)
    else:
      print(dfREF.columns.get_loc(Col),'~',Col,pcolors.OK +'~dtype(',Col_type,')  : Concat OK'+ pcolors.RESET)   # La somme (textes concaténés)  colonne est identique 

#_FIN______________________________________________________

0 ~ num ~dtype( int64 )  : Somme  Ok
1 ~ colors ~dtype( object )  : Concat OK

#### Liste Fonctions

### Search

In [ ]:
def get_df_name(df):
    name =[x for x in globals() if globals()[x] is df][0]
    return name
#source : https://stackoverflow.com/questions/31727333/get-the-name-of-a-pandas-dataframe   Pour les series utiliser .name  (ou .names )

##### Search NaN  SearchNaN(DataFrame,Option)

In [ ]:
#Fonction ChercheNaN : Recherche des NaN
def SearchNaN(DataFrame,Option):
  """ChercheNaN : Recherche des NaN
  
  Option : 
  1: Total nombre de NaN par colonne
  2: Afficher les lignes ayant au moins 1 NaN
  3: Nomnbre de lignes ayant 1 NaN
  """
  df_name = get_df_name(DataFrame)

  if Option==1:
   return print(pcolors.OK+ df_name +pcolors.RESET,': Nombre de NaN par colonne (total lignes',len(DataFrame),'):/n' ,
                DataFrame.isnull().sum(axis=0),'\n------%-----\n',
                (DataFrame.isnull().sum(axis=0)/len(DataFrame))*100) #  Option1 : Total nombre de NaN par colonne
  elif Option==2:
    return DataFrame[DataFrame.isnull().any(axis=1)]  #Afficher les lignes ayant au moins 1 NaN
  elif Option==3: 
    return print(pcolors.OK+ df_name +pcolors.RESET,': Nombre de ligne(s) ayant au moins 1 NaN :',
                 len(DataFrame[DataFrame.isnull().any(axis=1)]),'\n-----%------\n',
                 (len(DataFrame[DataFrame.isnull().any(axis=1)])/len(DataFrame))*100)
  else:
    print("SearchNaN(DataFrame,Option) Error :","Choisir Option :\n",
          "\n 1: Total nombre de NaN par colonne",
          "\n 2: Total nombre de NaN par colonne",
          "\n 3: Nomnbre de lignes ayant 1 NaN")

# DEBUG  recherche NaN
# temp=geo
# temp.isnull().sum(axis=0) #  Option1 : Total nombre de NaN par colonne
# test=temp[temp.isnull().any(axis=1)] ; test #Afficher les lignes ayant au moins 1 NaN
# len(test)
# test.Zone.unique()

##### SearchListe(df,liste)

In [ ]:
# Recherche une liste dans un DataFrame
def SearchListe(df,liste):
  """Recherche une liste dans un DataFrame et renvoie Df avec les Valeur pour masque SearchListe(dx,[2,4,7]) - liste=[2,4,7]/ SearchListe(dx,liste) accepte liste unique liste=[1]"""
  return df[df.isin(liste)].dropna(thresh=1)

# Exemple : 
# dx = pd.DataFrame(np.random.randint(10, size=(10, 3)),
#                      columns=['A', 'B', 'C'])
# dx
# SearchListe(dx,[2,4,7])
# liste=[2,4,7]
# SearchListe(dx,liste)
# SearchListe(dx,l)

##### ListeCol Unique

In [ ]:
def ListeColUnique(df):
  """ Itere sur les colonnes d'un DataFrame(df) et listes les valeurs unique de chaque colonne"""
  ListeCol=df.columns
  df_name = get_df_name(df)
  print(ListeCol)
  for col in ListeCol: 
     print(col,':',len(df[col].unique()),': \n',df[col].sort_values(ascending=True,na_position='first').unique(),'\n______________\n')

##### SearchKey(df)

In [ ]:
def SearchKey(df):
  """ Itere sur les colonnes d'un DataFrame(df) et Compte les valeurs uniques de chaque colonne"""
  ListeCol=df.columns
  df_name = get_df_name(df)
  # print('Liste colonnes :',pcolors.OK +ListeCol+ pcolors.RESET)
  print('\n______________________________________________________________________________________\n',
        "Recherche  valeurs uniques : ",
        pcolors.WARNING+ df_name +pcolors.RESET," ",
        # df.shape,
        "(",len(df),"Lignes,",len(ListeCol),"Colonnes)",
        '\n______________________________________________________________________________________')
  for col in ListeCol: 
    NbUnique=df[col].nunique()
    Nbdoublons=len(df)-NbUnique
    if Nbdoublons==0:
      print(pcolors.OK +col,":"+pcolors.RESET,len(df),"rows",
          "|Nb unique:",NbUnique,
          "|Nb doublons:", Nbdoublons, "-",
          np.round(((len(df)-NbUnique)/len(df))*100,0),'%',
          pcolors.OK+"Clé candidate"+pcolors.RESET,
          "|",df[col].dtype,
          '\n____________________________________________________________________________________')
    elif Nbdoublons!=0:
      print(pcolors.OK+col,":"+pcolors.RESET,len(df),"rows",
          "|Nb unique:",NbUnique,
          "|Nb doublons:", Nbdoublons, "-",
          np.round(((len(df)-NbUnique)/len(df))*100,0),'%', 
          "|",df[col].dtype,     
          '\n______________________________________________________________________________________')

##### np.Array  LostElement(Array1,Array2)

In [ ]:
# Rechercher un élément perdu à partir d’un tableau dupliqué 
def LostElement(A,B):
  """Rechercher un élément perdu à partir d’un tableau dupliqué
    LostElement(ArrayA,ArrayB)  ou LostElement(df.A.unique(),df.B.unique())
    Compare deux np.array !!!!
      =>  DifférenceA=>B  : Valeur incluse dans A mais Non dans B 
      =>  DifférenceB=>A  : Valeur incluse dans B mais Non dans A
  """

  # return print('ArrayA:',A,'- Nb val:',len(A),'\n ArrayB:',B,'- Nb val:',len(B),pcolors.OK + '\n----------------------\n Différence inA=>notB',np.setdiff1d(A, B),'\n----------------------\n Différence inB=>notN',np.setdiff1d(B, A),'\n----------------------\n'+ pcolors.RESET)
  return print('\n----------------------\n',
               pcolors.OK +'Diff. inA=>notB'+ pcolors.RESET,np.setdiff1d(A, B),'\n----------------------\n',
               pcolors.OK+'Diff. inB=>notA'+ pcolors.RESET,' ',np.setdiff1d(B, A),'\n----------------------\n',
               pcolors.OK +'ArrayA:'+ pcolors.RESET,A,'- Nb val:',len(A),'\n',
               pcolors.OK +'\n ArrayB:'+ pcolors.RESET,B,'- Nb val:',len(B),'\n----------------------\n')

##### Différences entre deux df get_different_rows(source_df, new_df)

In [ ]:
def get_different_rows(source_df, new_df):
    """Returns just the rows from the new dataframe that differ from the source dataframe"""
    merged_df = source_df.merge(new_df, indicator=True, how='outer')
    changed_rows_df = merged_df[merged_df['_merge'] == 'right_only']
    return changed_rows_df.drop('_merge', axis=1)


#Trouver les lignes peu communes entre deux DataFrames
# pd.concat([SecuAlimGeo,SecuAlim]).drop_duplicates(keep=False)

# #Trouver les lignes peu communes entre deux DataFrames
# pd.concat([SecuAlimGeo,SecuAlim]).drop_duplicates(keep=False)

### Manip DataFrame

##### ColMove(df,ColName,ColIndex)

In [ ]:
# Deplacer une colonne dans un dataframe 
def ColMove(DataFrame,ColName,ColIndex):
  """Fonction  ColMove(DataFrame,ColName,ColIndex)  
   Deplace un colonne dans un DataFrame  - ColName : nom colonne  - ColIndex : rang index souhaité (ddbut df 0 !)
  """ 
  DataFrame.insert(ColIndex,'Xcol',DataFrame[ColName])
  DataFrame.drop(ColName, axis=1, inplace=True)
  DataFrame.rename(columns={'Xcol' : ColName},inplace=True)
  return DataFrame

##### Change dtype Category to Object : dtypeCat2Obj(df)

In [ ]:
def dtypeCat2Obj(df):
    """  iterate through all the columns of a dataframe and 
    modify the Dtype Catergory to Object (Str)       
    """
     
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type == 'category':
             df[col] = df[col].astype(str)    
           
    return df

In [ ]:
def DataChangeCat2Obj(df):
    """  iterate through all the columns of a dataframe and 
    modify the Dtype Catergory to Object (Str)       
    """
     
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type == 'category':
             df[col] = df[col].astype(str)    
           
    return df

##### ReduceMemUsage reduce_mem_usage(df)

In [ ]:
# Drastically reduce df RAM usage ! 
#I don't know who the original author of this function but many thanks to him ;) 
#source : https://towardsdatascience.com/how-to-learn-from-bigdata-files-on-low-memory-incremental-learning-d377282d38ff
def reduce_mem_usage(df):
    """ 
    iterate through all the columns of a dataframe and 
    modify the data type to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print(('Memory usage of dataframe is {:.2f}' 
                     'MB').format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max <\
                  np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max <\
                   np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max <\
                   np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max <\
                   np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max <\
                   np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max <\
                   np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')
    end_mem = df.memory_usage().sum() / 1024**2
    print(('Memory usage after optimization is: {:.2f}' 
                              'MB').format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) 
                                             / start_mem))
    
    return df

    # Attention ne fct pas si le df à optimizer contient un type 'category'
  #Code ...........
    # df.info(memory_usage=True)
    # DataFrame.memory_usage(index=True, deep=False)

###### dtype Min-Max

In [ ]:
pd.DataFrame.from_dict(
{'np.int8:':[np.iinfo(np.int8).min, np.iinfo(np.int8).max],
'np.int16:':[np.iinfo(np.int16).min, np.iinfo(np.int16).max],
'np.int32:':[np.iinfo(np.int32).min, np.iinfo(np.int32).max],
'np.int64:':[np.iinfo(np.int64).min, np.iinfo(np.int64).max],
'np.float16:':[np.finfo(np.float16).min, np.finfo(np.float16).max],
'np.float32:':[np.finfo(np.float32).min, np.finfo(np.float32).max],
'np.float64:':[np.finfo(np.float64).min, np.finfo(np.float64).max]})

## info complementaire https://towardsdatascience.com/reducing-memory-usage-in-pandas-with-smaller-datatypes-b527635830af

,np.int8:,np.int16:,np.int32:,np.int64:,np.float16:,np.float32:,np.float64:
0,-128,-32768,-2147483648,-9223372036854775808,-65504.0,-3.402823e+38,-1.797693e+308
1,127,32767,2147483647,9223372036854775807,65504.0,3.402823e+38,1.797693e+308

##### MultiDOWN ( Conversion multi-index  à index simple)

In [ ]:
#Fonction multiDOWN : Conversion df_MultiIndex to df_indexSimple
def multiDOWN(DataFrame):
  """Fonction multiDOWN(DataFrame) : Conversion DataFrame_MultiIndex to DataFrame_indexSimple"""
  DataFrame=DataFrame.columns=DataFrame.columns.to_flat_index() # colonnes => concatener le multi index en un index simple https://datascientyst.com/flatten-multiindex-in-pandas/
  DataFrame.reset_index(inplace=True) # Conversion Index en colonnes simple.
 

  # probleme  d'execution

### Fonction Satistiques

##### PercentCumul(df,Col) Calcul % cumulé

In [ ]:
# Tri ordre decroissant puis ajoute Colonnne avec Calcul % cumulé pour identifier 20/80 ou 80/20 
def PercentCumul(df,Col):
  """ Tri ordre decroissant puis ajoute Colonnne Col_cum% avec Calcul % cumulé pour identifier facilement 20/80 ou 80/20 """
  df=df.sort_values(by=[Col],ascending=False)
  df[Col+'_percent']=(df[Col]/df[Col].sum()) * 100
  df[Col+'cum_p']=(df[Col].cumsum() / df[Col].sum()) * 100
  df[Col+'_percent']=df[Col+'_percent'].round(2)
  df[Col+'cum_p']=df[Col+'cum_p'].round(2)
 
  # df=df.sort_values(by=[Col+'cum_%'],ascending=False)
  
  return df


# Cf cumsum() pour  SommeCumulée
 #https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cumsum.html

#### Moyenne Pondérée

In [ ]:
# Calcul Moyenne Pondérée / Weighted Average

def MoyPonderee(df, Colvalues, Colweights):
  """ Moyenne Pondérée / Weighted Average
    df: DataFrame  - Colvalues : Col Valeurs  - Colweights : Col. Poids relatif 
  Peut être utlisée avec un Groupby : df.groupby('Year').apply(MoyPonderee, 'Grades', 'NumCourses')
  Source :  Rework of https://datagy.io/pandas-weighted-average/ 
  """
  return sum(df[Colweights] * df[Colvalues]) / df[Colweights].sum()


# Source Rework of https://datagy.io/pandas-weighted-average/

#### QartileIndicatorCol(df,col) Ajout Colonne quartile

In [ ]:
# Ajout colonne conditionnelle quartile

def QartileIndicatorCol(df,col): 
  """ Ajout d'un colonne Conditionelle avec le quartile au df courant 
QartileIndicatorCol(df,col) => df[col+"Quartile"] """

  # Caculs Seuils des quartiles 
  q25=df[col].quantile(q=0.25, interpolation='linear')
  q50=df[col].quantile(q=0.50, interpolation='linear')
  q75=df[col].quantile(q=0.75, interpolation='linear')

  # Conditions & label 
  conditionlist = [
    (df[col] <= q25) ,
    (df[col] > q25) & (df[col] <q75),
    (df[col] >= q75)]
   
  choicelist = ['quartile1','quartile2','quartile3']

  df[col+"Quartile"] = np.select(conditionlist, choicelist, default='Not Specified')
  return df

####  Zscore :  Zscore(df,Col)

In [ ]:
def Zscore(df,Col): 
  """Zscore(df,Col) :  Ajout colonnes Zscore_Col &  NivConf_Zscore_col
                      'ZSscore Omlit NaN  & Interepretion Niv confiance
  Parametres  Df: DataFrame & col : Colonne
  """
  import scipy.stats as stats 
  #https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.zscore.html
  df["Zscore_"+Col] = stats.zscore(df[Col], axis=0, nan_policy='omit')

  #https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.std.html 
  # df["ZscoreManuel"+Col] = (df[Col] - df[Col].mean())/df[Col].std(ddof=0) # Calcul Zscore Manuel
  
  Za=2.58 ;ZaConf="90%" # seuil confiance 90% 
  Zb=1.96 ;ZbConf="95%"# seuil confiance95% 
  Zc=1.65 ;ZcConf="99%"# seuil confiance 99% 
  # source : https://pro.arcgis.com/fr/pro-app/2.7/tool-reference/spatial-statistics/what-is-a-z-score-what-is-a-p-value.htm
  #  np.abs(z_score) > threshold:


  # Colonne Interpration Zscore 
  ColRefName="Zscore_"+Col # Nom Colonne de référence pour la segmentation
  ColCatName="Seuil_ConF_Zscore" # Nom Colonne Categorie
  df[ColCatName]="?"
  df[ColRefName].fillna(0,inplace=True)
  
  df.loc[np.abs(df[ColRefName]) > Za , ColCatName] = "Inférieur à "+ZaConf 
  df.loc[np.abs(df[ColRefName]) <= Za , ColCatName] = ZaConf    # utilisation de la Valeur Absolue (-za <= Seuil confiance <= Za )
  df.loc[np.abs(df[ColRefName]) <= Zb , ColCatName] = ZbConf
  df.loc[np.abs(df[ColRefName]) <= Zc , ColCatName] = ZcConf

  df.sort_values(ColRefName, inplace=True)


  print(ColRefName,ColCatName)
  return df

# <font color="00CED1">  Dataset </font>

## import des RAW

In [ ]:
#https://openclassrooms.com/fr/paths/324/projects/859/assignment

# https://s3-eu-west-1.amazonaws.com/static.oc-static.com/prod/courses/files/parcours-data-analyst/DAN-P6-donnees.zip

# pd.read_csv("https://s3-eu-west-1.amazonaws.com/static.oc-static.com/prod/courses/files/parcours-data-analyst/DAN-P6-donnees.zip",sep=',')  
# """ValueError: Multiple files found in ZIP file. Only one file per ZIP: ['DAN-P6-donnees/', '__MACOSX/._DAN-P6-donnees', 'DAN-P6-donnees/customers.csv', '__MACOSX/DAN-P6-donnees/._customers.csv', 'DAN-P6-donnees/products.csv', '__MACOSX/DAN-P6-donnees/._products.csv', 'DAN-P6-donnees/transactions.csv', '__MACOSX/DAN-P6-donnees/._transactions.csv']"""


PATH="https://github.com/vincent-arese/OC-P6/raw/main/"
customersRAW=pd.read_csv(PATH+"customers.csv")
productsRAW=pd.read_csv(PATH+"products.csv")
transactionsRAW=pd.read_csv(PATH+"transactions.zip")

# customersRAW=pd.read_csv("https://github.com/vincent-arese/OC-P6/raw/main/customers.csv")
# productsRAW=pd.read_csv("https://github.com/vincent-arese/OC-P6/raw/main/products.csv")
# transactionsRAW=pd.read_csv("https://github.com/vincent-arese/OC-P6/raw/main/transactions.zip")

## Nettoyage des DataFrames

### Customers

In [ ]:
df=customersRAW.copy()
SearchKey(df)
customers=df
customers # 8623 rows × 3 columns

______________________________________________________________________________________
 Recherche  valeurs uniques :  df   ( 8623 Lignes, 3 Colonnes)
______________________________________________________________________________________
client_id : 8623 rows |Nb unique: 8623 |Nb doublons: 0 - 0.0 % Clé candidate | object
____________________________________________________________________________________
sex : 8623 rows |Nb unique: 2 |Nb doublons: 8621 - 100.0 % | object
______________________________________________________________________________________
birth : 8623 rows |Nb unique: 76 |Nb doublons: 8547 - 99.0 % | int64
______________________________________________________________________________________

     client_id sex  birth
0       c_4410   f   1967
1       c_7839   f   1975
2       c_1699   f   1984
3       c_5961   f   1962
4       c_5320   m   1943
...        ...  ..    ...
8618    c_7920   m   1956
8619    c_7403   f   1970
8620    c_5119   m   1974
8621    c_5643   f   1968
8622      c_84   f   1982

[8623 rows x 3 columns]

### products

In [ ]:
df = productsRAW.copy()
SearchKey(df)
products = df
products #3287 rows × 3 columns

______________________________________________________________________________________
 Recherche  valeurs uniques :  df   ( 3287 Lignes, 3 Colonnes)
______________________________________________________________________________________
id_prod : 3287 rows |Nb unique: 3287 |Nb doublons: 0 - 0.0 % Clé candidate | object
____________________________________________________________________________________
price : 3287 rows |Nb unique: 1455 |Nb doublons: 1832 - 56.0 % | float64
______________________________________________________________________________________
categ : 3287 rows |Nb unique: 3 |Nb doublons: 3284 - 100.0 % | int64
______________________________________________________________________________________

     id_prod   price  categ
0     0_1421   19.99      0
1     0_1368    5.13      0
2      0_731   17.99      0
3      1_587    4.99      1
4     0_1507    3.99      0
...      ...     ...    ...
3282    2_23  115.99      2
3283   0_146   17.14      0
3284   0_802   11.22      0
3285   1_140   38.56      1
3286  0_1920   25.16      0

[3287 rows x 3 columns]

### Transactions

In [ ]:
df = transactionsRAW.copy() #679532 rows × 4 columns

df.isnull().any()

id_prod       False
date          False
session_id    False
client_id     False
dtype: bool

In [ ]:
df = transactionsRAW.copy() #679532 rows × 4 columns

df.isnull().any() # All false No NaN in df

# SearchKey(df)

# Conversion colonne date  au format datetime & Supression des lignes de test

# df['date'] = pd.to_datetime(df['date']) # date  ParseError
#ParserError: Unknown string format: test_2021-03-01 02:30:02.237419  => Suprimer les lignes de Test 

df.loc[ df.date.str.contains("test_") == True] #200 rows × 4 columns

#Alternative => Exclure les lignes test 
# dz=df[~df.date.str.startswith("test_")]

df = df.loc[ df.date.str.contains("test_") == False] #679332 rows × 4 columns  => Exclure les lignes test 



test = df.date.str.contains("test_").sum()
print("Les", test, "lignes de test ont été suprimées")

df['date'] = pd.to_datetime(df['date'])


# df["DateCourte"]=pd.to_datetime(df["DateCourte"],dayfirst=True)
df["Year"]=df.date.dt.year.astype(str)
df["Month"]=df.date.dt.month.astype(str)
df["Day"]=df.date.dt.day.astype(str)

df["DateRapide"]=df.date.dt.day.astype(str) + "/" + df.date.dt.month.astype(str)+ "/" + df.date.dt.year.astype(str) #OK mais au format String ! 

# df["DateRapideDateTime"]=pd.to_datetime(df.date.dt.day.astype(str) + "/" + df.date.dt.month.astype(str)+ "/" + df.date.dt.year.astype(str),dayfirst=True) #OK format datetime mais xecutoion trop longue


# df["DateCourte2"]=pd.to_datetime(df['date'].dt.strftime("%d/%m/%y") ,dayfirst=True) #OK format datetime mais xecutoion trop longue

SearchKey(df)
transactions = df
transactions


# pandas.to_datetime(arg, errors='raise', dayfirst=False, yearfirst=False, utc=None, format=None, exact=True, unit=None, infer_datetime_format=False, origin='unix', cache=True)

# https://pandas.pydata.org/docs/user_guide/timeseries.html
# https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html
# https://docs.python.org/fr/3.7/library/datetime.html

Les 0 lignes de test ont été suprimées

______________________________________________________________________________________
 Recherche  valeurs uniques :  df   ( 679332 Lignes, 8 Colonnes)
______________________________________________________________________________________
id_prod : 679332 rows |Nb unique: 3266 |Nb doublons: 676066 - 100.0 % | object
______________________________________________________________________________________
date : 679332 rows |Nb unique: 679332 |Nb doublons: 0 - 0.0 % Clé candidate | datetime64[ns]
____________________________________________________________________________________
session_id : 679332 rows |Nb unique: 342315 |Nb doublons: 337017 - 50.0 % | object
______________________________________________________________________________________
client_id : 679332 rows |Nb unique: 8600 |Nb doublons: 670732 - 99.0 % | object
______________________________________________________________________________________
Year : 679332 rows |Nb unique: 3 |Nb doublons: 679329 - 100.0 % | object
______________________________________________________________________________________
Month : 679332 rows |Nb unique: 12 |Nb doublons: 679320 - 100.0 % | object
______________________________________________________________________________________
Day : 679332 rows |Nb unique: 31 |Nb doublons: 679301 - 100.0 % | object
______________________________________________________________________________________
DateRapide : 679332 rows |Nb unique: 730 |Nb doublons: 678602 - 100.0 % | object
______________________________________________________________________________________

,id_prod,date,session_id,client_id,Year,Month,Day,DateRapide
0,0_1518,2022-05-20 13:21:29.043970,s_211425,c_103,2022,5,20,20/5/2022
1,1_251,2022-02-02 07:55:19.149409,s_158752,c_8534,2022,2,2,2/2/2022
2,0_1277,2022-06-18 15:44:33.155329,s_225667,c_6714,2022,6,18,18/6/2022
3,2_209,2021-06-24 04:19:29.835891,s_52962,c_6941,2021,6,24,24/6/2021
4,0_1509,2023-01-11 08:22:08.194479,s_325227,c_4232,2023,1,11,11/1/2023
...,...,...,...,...,...,...,...,...
679527,0_1551,2022-01-15 13:05:06.246925,s_150195,c_8489,2022,1,15,15/1/2022
679528,1_639,2022-03-19 16:03:23.429229,s_181434,c_4370,2022,3,19,19/3/2022
679529,0_1425,2022-12-20 04:33:37.584749,s_314704,c_304,2022,12,20,20/12/2022
679530,0_1994,2021-07-16 20:36:35.350579,s_63204,c_2227,2021,7,16,16/7/2021
679531,1_523,2022-09-28 01:12:01.973763,s_274568,c_3873,2022,9,28,28/9/2022

In [ ]:
# df["DateTEST"]= df['date'].dt.strftime("%d/%m/%y") 
# df["DateTEST"]=pd.to_datetime(df["DateTEST"],dayfirst=True)
df["DateRapideDateTime"]=pd.to_datetime(df.date.dt.day.astype(str) + "/" + df.date.dt.month.astype(str)+ "/" + df.date.dt.year.astype(str),dayfirst=True) #OK format datetime mais xecutoion trop longue
SearchKey(df)
df

______________________________________________________________________________________
 Recherche  valeurs uniques :  _   ( 679332 Lignes, 9 Colonnes)
______________________________________________________________________________________
id_prod : 679332 rows |Nb unique: 3266 |Nb doublons: 676066 - 100.0 % | object
______________________________________________________________________________________
date : 679332 rows |Nb unique: 679332 |Nb doublons: 0 - 0.0 % Clé candidate | datetime64[ns]
____________________________________________________________________________________
session_id : 679332 rows |Nb unique: 342315 |Nb doublons: 337017 - 50.0 % | object
______________________________________________________________________________________
client_id : 679332 rows |Nb unique: 8600 |Nb doublons: 670732 - 99.0 % | object
______________________________________________________________________________________
Year : 679332 rows |Nb unique: 3 |Nb doublons: 679329 - 100.0 % | object
______________________________________________________________________________________
Month : 679332 rows |Nb unique: 12 |Nb doublons: 679320 - 100.0 % | object
______________________________________________________________________________________
Day : 679332 rows |Nb unique: 31 |Nb doublons: 679301 - 100.0 % | object
______________________________________________________________________________________
DateRapide : 679332 rows |Nb unique: 730 |Nb doublons: 678602 - 100.0 % | object
______________________________________________________________________________________
DateRapideDateTime : 679332 rows |Nb unique: 730 |Nb doublons: 678602 - 100.0 % | datetime64[ns]
______________________________________________________________________________________

,id_prod,date,session_id,client_id,Year,Month,Day,DateRapide,DateRapideDateTime
0,0_1518,2022-05-20 13:21:29.043970,s_211425,c_103,2022,5,20,20/5/2022,2022-05-20
1,1_251,2022-02-02 07:55:19.149409,s_158752,c_8534,2022,2,2,2/2/2022,2022-02-02
2,0_1277,2022-06-18 15:44:33.155329,s_225667,c_6714,2022,6,18,18/6/2022,2022-06-18
3,2_209,2021-06-24 04:19:29.835891,s_52962,c_6941,2021,6,24,24/6/2021,2021-06-24
4,0_1509,2023-01-11 08:22:08.194479,s_325227,c_4232,2023,1,11,11/1/2023,2023-01-11
...,...,...,...,...,...,...,...,...,...
679527,0_1551,2022-01-15 13:05:06.246925,s_150195,c_8489,2022,1,15,15/1/2022,2022-01-15
679528,1_639,2022-03-19 16:03:23.429229,s_181434,c_4370,2022,3,19,19/3/2022,2022-03-19
679529,0_1425,2022-12-20 04:33:37.584749,s_314704,c_304,2022,12,20,20/12/2022,2022-12-20
679530,0_1994,2021-07-16 20:36:35.350579,s_63204,c_2227,2021,7,16,16/7/2021,2021-07-16
679531,1_523,2022-09-28 01:12:01.973763,s_274568,c_3873,2022,9,28,28/9/2022,2022-09-28

## Merge des dataframes

In [ ]:
print(pcolors.WARNING + 'Liste des colonnes:'+pcolors.RESET,
      '\n--------------------------------`\n',
      pcolors.OK+ "transactions:" +pcolors.RESET,transactions.columns,pcolors.OK+"", transactions.shape,"" +pcolors.RESET,
      '\n--------------------------------`\n',
      pcolors.OK+ "products:" +pcolors.RESET,products.columns,pcolors.OK+"", products.shape,"" +pcolors.RESET,
      '\n--------------------------------`\n',
      pcolors.OK+ 'customers:' +pcolors.RESET,customers.columns,pcolors.OK+"", customers.shape,"" +pcolors.RESET,)

Liste des colonnes:
--------------------------------`
 transactions: Index(['id_prod', 'date', 'session_id', 'client_id', 'Year', 'Month', 'Day',
       'DateRapide', 'DateTEST', 'DateRapideDateTime'],
      dtype='object')  (679332, 10)
--------------------------------`
 products: Index(['id_prod', 'price', 'categ'], dtype='object')  (3287, 3)
--------------------------------`
 customers: Index(['client_id', 'sex', 'birth'], dtype='object')  (8623, 3)

In [ ]:
df=transactions  #679332 rows × 4 columns
df=df.merge(customers, how="outer", on="client_id", indicator=True)  #825 rows × 7 columns
df._merge.unique() # ['both', 'right_only']

df[df._merge=='right_only'].shape  # (23, 7)
df[df._merge=='right_only']  # All NaN 


df=df[df._merge=='both'] #679332 rows × 7 columns 
df.isnull().any() # OK All false No NaN in this  df
df.drop(['_merge'], axis=1, inplace=True) # Suprimmer Indicator   # 679332 rows × 6 columns

# df.merge(products, how="outer", on="client_id", indicator=True)

# Questions

* Une analyse des différents indicateurs de vente,  demandée par Antoine chargé de produit marketing.
* Une analyse plus ciblée sur les clients : l’objectif serait cette fois-ci de comprendre le comportement de nos clients en ligne, pour pouvoir ensuite comparer avec la connaissance acquise via nos librairies physiques. Pour cela, je t’invite à voir avec Julie, qui te précisera directement ses demandes à ce niveau.
  * Dans un premier temps, je vais avoir besoin de différents indicateurs et graphiques autour du
chiffre d'affaires. 
  * Peux-tu également regarder l’évolution dans le temps et mettre en place une
décomposition en moyenne mobile pour évaluer la tendance globale ?
  * Il serait également intéressant de faire un zoom sur les références, pour voir un peu les tops et les flops, la répartition par catégorie, etc.
  * Enfin, j’aimerais avoir quelques informations sur les profils de nos clients, et également la
répartition du chiffre d'affaires entre eux, via par exemple une courbe de Lorenz.
  * Après, toutes les informations et tous graphiques qui apporteraient de l’information pertinente
sont les bienvenus !



* Julie corrélations, pour voir s’il n’y a pas certains points que nous pourrions analyser. 
  * le lien entre le genre d’un client et les catégories des livres achetés 
  * et ensuite le lien entre l’âge des clients et le montant total des achats, la fréquence d’achat, la taille du panier moyen et les catégories des livres achetés.